*{
    background-color: rgb(6, 228, 162);
}
.value1{
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 70px;
    padding-right: 70px;
   
    border-width: 5px;
    border-style: solid;
    border-color: rgb(5, 211, 91);
    background-color: rgb(6, 210, 91);
}
 .value2{
    background-color: rgb(6, 210, 91);
    color: white;
   font-family: "Rubik Doodle Shadow", system-ui;
   font-weight: 400p ;
   font-style: normal;
 }
    
    .v2{
        background-color: rgb(6, 210, 91);
    }
    .v1{
        background-color: rgb(6, 210, 91);
        block-size: 20px;
       font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
    }
